.page__body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #FFFDF8;
}

/* ХЕДЕР */
.main-header {
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5D581;
}

.main-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    min-height: 75px;
    margin: 0 auto;
}

.main-header__logo-wrapper {
    width: 280px;
    display: flex;
    align-items: center;
}

.main-header__logo-icon {
    margin-right: 18px;
}

.main-header__name {
    margin: 0;
}

.main-header__tagline {
    margin: 0;
    font-weight: 300;
    font-size: 9px;
    line-height: 150%;
}

.main-header__link-wrapper {
    display: flex;
}

.main-header__list {
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-header__list-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.main-header__list-item--arrow {
    position: relative;
    padding-right: 17px;
}

.main-header__list-item--arrow::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 9px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: calc(50% - 3px);
    right: 0;
    z-index: 1;
}

.main-header__list-item--arrow:hover .main-header__list-item--dropdown-content {
    display: block;
}

.main-header__list-item--dropdown-content {
    position: absolute;
    display: none;
    width: 200px;
    min-height: 169px;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 25px 16px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(97, 97, 97, 0.18), 0px 4px 8px rgba(97, 97, 97, 0.18);
}

.main-header__dropdown-list {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-header__dropdown-list-item {
    display: flex;
    margin-bottom: 23px;
}

.main-header__dropdown-list-item:last-child {
    margin-bottom: 0;
}

.main-header__dropdown-link {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer; 
}

.main-header__dropdown-link:hover {
    color: #9F7303;
}


.main-header__button {
    box-sizing: border-box;
    margin-left: 40px;
    padding: 6px 22px;
    border: 1px solid #9F7303;
    border-radius: 8px;
}



/* МЕЙН */
.main-container {
    width: 100%;
    flex-grow: 1;
}





/* ФУТЕР */
.main-footer {
    width: 100%;
    flex-shrink: 0;
}